* { margin: 0; padding: 0; font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif; font-size: 100%; font-weight: normal; line-height: 1.4em; }
body { margin: 20px 0; background-color: #000000; color: #000000; letter-spacing: 0.08em; font-size: 90%; text-align: center; background-image: url(bg.jpg); background-position: 50% 0;/* background-attachment: fixed;*/background-repeat: no-repeat; }
p { margin-bottom: 15px; }
a { color: #48ba32; }
h1 { font-size: 160%; }
h2 { margin: 15px 0; font-size: 150%; }
h2.breaker { padding-bottom: 15px; border-bottom: 1px dotted #a0a0a0; }
h3 { margin: 5px 0; font-size: 120%; }
b, strong { font-weight: bold; }

#wrap { text-align: left; width: 900px; margin: 20px auto; background-color: #ffffff; padding: 20px; }
#header { margin-bottom: 20px; width: 900px; background-color: #48ba32; text-align: center; }
#header h2 { width: 400px; text-align: center; margin: 0 auto; padding-bottom: 20px; font-size: 80%; line-height: 1.4em; }
#header h1 a { color: #000000; display: block; width: 900px; line-height: 120px; font-size: 75px; text-decoration: none; vertical-align: middle; text-align: center; }
#footer { margin: 20px 0; padding: 20px; background-color: #48ba32; }
#footer a { color: #303030; }
#content { width: 580px; margin-right: 15px; }
#sidebar { float: right; width: 290px; padding-left: 15px; border-left: 1px dotted #a0a0a0; }

.clear { clear: both; font-size: 0; line-height: 0; height: 0; }

ul { margin: 15px 30px; }
li { margin: 5px 0; }
* html ul { padding-left: 30px; }

ul.menu { margin: 0 0 15px 0; padding: 0; list-style-type: none; }
ul.menu li { display: inline; padding: 2px 8px 2px 0; border-right: 1px solid #ffffff; }
ul.menu li.last { margin-right: none; border-right: none; }

/* form stuff */
label { width: 92px; display: block; float: left; text-align: right; padding: 9px 6px 0 0; }
input, textarea { width: 462px; margin: 5px 0; padding: 4px; border: 1px solid #808080; }
input.submit { margin-left: 98px; width: 100px; }
input:hover, textarea:hover { background-color: #ddefff; }
form div { clear: left; }
p.in_form { margin-left: 98px; }

.errorExplanation, #errorExplanation, .notification, #success, #errors { background-color: #ffffcc; border: 1px solid #ffff00; padding: 8px; color: #303030; margin: 8px 0; }
.flash p { margin-bottom: 0; }
.fieldWithErrors input, .fieldWithErrors textarea { border: 1px solid #ff0000; }

/* table stuff */
table { border: 1px solid #a0a0a0; border-collapse: collapse; margin-bottom: 15px; }
table td, table th { border: 1px solid #a0a0a0; padding: 6px; }
table th { background-color: #5555ff; color: #eeeeee; }

/* posts stuff */
.post { margin: 15px 0; border-bottom: 1px dotted #a0a0a0; }
/*.first { border-top: 1px dotted #a0a0a0; padding-top: 15px; }*/
.post h3 { margin-top: 0; }
p.subtitle, p.username { font-size: 90%; color: #808080; text-align: left; }
div.comment { margin: 15px 0; border-bottom: 1px dotted #a0a0a0; }

pre { padding: 4px; border: 1px solid #808080; width: 560px; height: 300px; overflow: auto; margin-bottom: 15px; }
pre, code { font-family: Monaco, "Courier New", sans-serif; background-color: #000000; color: #00ff00; font-size: 90%; }

blockquote { margin: 0 50px; }

.asset { width: 400px; float: left; margin: 20px; }
.badge { float: left; margin-right: 20px; }

.rss2html-note { display: none; }

/* sidebar stuff */
#sidebar h2 { font-size: 130%; }
#sidebar h2.first { margin-top: 0; }
#sidebar h4 { margin-bottom: 5px; }
#sidebar input { width: 190px; }
#sidebar input.submit { width: 68px; margin-left: 10px; }